<!-- BEGIN:servicos -->
<!DOCTYPE html>
<html>

<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="css/index.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/global.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/footer.css" media="screen,projection" />
    <title>Rotus Security</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    {navbar}
    <div class="parallax-bg">
        <div class="parallax-container">
            <div class="row container center">
                <img src="images/logo.png" class="responsive-img logo-main" width="220">
                <div class="col s12">
                    <p class="white-text">Bem-vindo ao Rotus Security! O aplicativo consiste em um controle de acesso para alunos de escolas, faculdades, empresas e etc... Com o aplicativo você irá conseguir gerar um código QR no seu celular. Após a criação, você irá passar
                        no leitor de código QR da catraca e assim a passagem será liberada. Com esse controle o local estará mais seguro e assim evitará a entrada de pessoas indesejáveis no estabelecimento.</p>
                </div>
                <div class="hide-on-med-and-up">
                    <div class="col s8 m4 offset-s2" style="margin-top: 5px">
                        <a target="_blank" class="center" href="https://play.google.com/store?hl=pt_BR"><img src="images/android-download.png" class="responsive-img download" /></a>
                    </div>
                    <div class="col s8 m4 offset-s2" style="margin-top: 5px">
                        <a target="_blank" href="https://itunes.apple.com/br/genre/ios/id36?mt=8"><img src="images/apple-download.png" class="responsive-img download" /></a>
                    </div>
                    <div class="col s8 m4 offset-s2" style="margin-top: 5px">
                        <a target="_blank" href="https://www.microsoft.com/pt-br/store/apps/windows-phone"><img src="images/windows-download.png" class="responsive-img download" /></a>
                    </div>
                </div>
                <div class="hide-on-small-only">
                    <div class="col m4 l4">
                        <a target="_blank" class="center" href="https://play.google.com/store?hl=pt_BR"><img src="images/android-download.png" class="responsive-img download" /></a>
                    </div>
                    <div class="col m4 l4">
                        <a target="_blank" href="https://itunes.apple.com/br/genre/ios/id36?mt=8"><img src="images/apple-download.png" class="responsive-img download" /></a>
                    </div>
                    <div class="col m4 l4">
                        <a target="_blank" href="https://www.microsoft.com/pt-br/store/apps/windows-phone"><img src="images/windows-download.png" class="responsive-img download" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section grey lighten-5">
        <div class="row center">
            <div class="container">
                <div class="col s12 col m12 col l12">
                    <div class="col s12 m12 l12">
                        <h3 class="center-align" style="color:#606060;">SERVIÇOS</h3>
                    </div>
                    <div class="col s12 m12 l12">
                        <p class="black-text flow-text center-align" style="font-size:17px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare orci vitae lorem posuere accumsan. Donec quis est placerat, ullamcorper nisi ac, posuere nisl. Integer ut enim mattis, porta metus a, sodales nisl. Nam venenatis, ipsum in imperdiet
                            interdum, lectus dui pretium dui, non imperdiet mauris sem nec nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin sed consectetur quam. In sodales, urna vel faucibus eleifend,
                            urna nunc hendrerit sapien, quis vulputate neque risus ac neque. Mauris sit amet velit porta, porta nisl tincidunt, tincidunt lectus. Duis ac neque id massa congue volutpat. Etiam sed posuere nisi. Ut ornare ante urna, non
                            auctor erat tempus nec. Aliquam pharetra lorem eu aliquam varius. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque et tempor ligula. Integer pellentesque massa tellus, eget rutrum orci dapibus nec.
                            Suspendisse purus nulla, efficitur at nulla vel, gravida ornare arcu. Mauris mattis elit sed mi auctor, ut aliquet ante sagittis. Cras dignissim volutpat nulla sit amet interdum. Vivamus mi odio, gravida eget luctus et, cursus
                            maximus lectus. Aliquam elementum sed est non blandit. Praesent non aliquet metus. Mauris commodo risus massa, eu tempus risus laoreet a. Praesent tempor viverra lectus, id tincidunt quam ultrices ac. Nullam augue nisi, lacinia
                            imperdiet nisl sed, vestibulum lacinia urna. Etiam porttitor tortor ac sapien vestibulum lacinia. In dictum augue et lectus pretium rutrum. Proin imperdiet arcu mi, ac finibus urna elementum sed. Mauris a ipsum in nunc interdum
                            gravida. Nam non lectus pretium purus rhoncus euismod. Suspendisse pellentesque lorem eget neque vulputate, et rutrum mauris porta. Etiam ac mi quis odio pretium porttitor mattis nec sapien. Orci varius natoque penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Duis ullamcorper gravida purus, at pretium orci varius eget. Duis egestas, libero bibendum faucibus viverra, arcu lorem pulvinar diam, nec convallis arcu enim quis orci.
                            Curabitur scelerisque neque faucibus nulla aliquet, eget pulvinar eros efficitur. Donec at egestas metus, nec porta dui. Quisque dictum erat nec gravida vulputate. Praesent pretium laoreet tellus, ut consectetur velit molestie
                            vitae. Morbi ac metus ornare, pharetra arcu eget, egestas urna. Duis lacus neque, pharetra eu felis eu, semper suscipit neque. Nulla at augue at tortor dapibus porta sit amet ut metus. Fusce quis faucibus ipsum. Vivamus vitae
                            diam efficitur, volutpat felis tincidunt, placerat tellus. Quisque ac viverra est. Donec varius at mi vitae porttitor. Praesent sed tortor nulla. Vestibulum eu posuere tortor, et lacinia diam. Nullam sit amet finibus magna,
                            ac faucibus lorem. Fusce sodales tincidunt iaculis. Integer et diam eget libero consectetur scelerisque. In hac habitasse platea dictumst. Curabitur feugiat molestie dignissim. Nunc vel nunc tempor, dapibus risus sed, pharetra
                            elit. Integer faucibus ultrices egestas. Suspendisse commodo leo sit amet dolor porttitor gravida vitae id tellus. Praesent ac consectetur erat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-bg">
        <div class="parallax-container">
            <div class="row container center">
            </div>
        </div>
    </div>
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large" id="pagTop" style="background-color:#c62828;">
            <i class="large material-icons">expand_less</i>
        </a>
    </div>
    <footer class="page-footer grey darken-4">">
        <div class="row">
            <div class="rodape">
                <ul>
                    <li><a href="../index.php">INÍCIO</a></li>
                    <li><a href="../contato.php">CONTATO</a></li>
                    <li><a href="../sobre.php">SOBRE NÓS</a></li>
                    <li><a href="../servicos.php">SERVIÇOS</a></li>
                    <li><a href="../termos.php">TERMOS DE SERVIÇO</a></li>
                    <li><a href="../politica.php">POLÍTICA DE PRIVACIDADE</a></li>
                </ul>>
            </div>
        </div>
        <div class="footer-copyright grey darken-4">
            <div class="col s12">
                <div class="container">
                    <ul class="center-align row">
                        <center>
                            <li class="ct col s12 m5 l4">
                                <i class="material-icons yellow-text text-darken-2">mail</i>
                                <br>
                                <small class="footer-text" style="font-size: 13px;font-weight: 0 !important;">CONTATO@ROTUSSECURITY.COM.BR</small>
                            </li>
                            <li class="col s12 m3 l4">
                                <i class="material-icons blue-text">phone</i>
                                <br>
                                <small class="footer-text" style="font-size: 13px;font-weight: 0 !important;">(11) 95855-8922 OU (11) 94298-4404</small>
                            </li>
                            <li class="col s12 m4 l4">
                                <i class="material-icons red-text">location_on</i>
                                <br>
                                <small style="font-size: 13px;font-weight: 0 !important;">R. JAÍRO DE ALMEIDA MACHADO, 401 - JARAGUÁ, SÃO PAULO - SP, 02998-060</small>
                            </li>
                        </center>
                    </ul>
                </div>
                <center>
                    <a href="https://twitter.com/RotusSecurity" target="_blank"><img src="../images/redes-sociais/Twitter.png" class="responsive-img" width="75"></a>
                    <a href="https://www.facebook.com/ControledeAcessoRotus/" target="_blank"><img src="../images/redes-sociais/Facebook.png" class="responsive-img" width="75"></a>
                    <a href="https://www.youtube.com/channel/UCfLNX5F4RL9eHEn-XDYOQGw" target="_blank"><img src="../images/redes-sociais/Youtube.png" class="responsive-img" width="75"></a>
                    <a href="https://www.instagram.com/rotus_security/?hl=pt-br" target="_blank"><img src="../images/redes-sociais/Instagram.png" class="responsive-img" width="75"></a>
                </center>

            </div>
            <div class="center-align">
                © 2017 Todos direitos reservados a Rotus Security
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
<!-- BEGIN:servicos -->