<!-- BEGIN:sobre -->
<!DOCTYPE html>
<html>

<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="css/index.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/global.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/footer.css" media="screen,projection" />
    <title>Rotus Security</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    {navbar}
    <div class="parallax-bg">
        <div class="parallax-container">
            <div class="row container center">
                <img src="images/logo.png" class="responsive-img logo-main" width="220">
                <div class="col s12">
                    <p class="white-text">Bem-vindo ao Rotus Security! O aplicativo consiste em um controle de acesso para alunos de escolas, faculdades, empresas e etc... Com o aplicativo você irá conseguir gerar um código QR no seu celular. Após a criação, você irá passar
                        no leitor de código QR da catraca e assim a passagem será liberada. Com esse controle o local estará mais seguro e assim evitará a entrada de pessoas indesejáveis no estabelecimento.</p>
                </div>
                <div class="hide-on-med-and-up">
                    <div class="col s8 m4 offset-s2" style="margin-top: 5px">
                        <a target="_blank" class="center" href="https://play.google.com/store?hl=pt_BR"><img src="images/android-download.png" class="responsive-img download" /></a>
                    </div>
                    <div class="col s8 m4 offset-s2" style="margin-top: 5px">
                        <a target="_blank" href="https://itunes.apple.com/br/genre/ios/id36?mt=8"><img src="images/apple-download.png" class="responsive-img download" /></a>
                    </div>
                    <div class="col s8 m4 offset-s2" style="margin-top: 5px">
                        <a target="_blank" href="https://www.microsoft.com/pt-br/store/apps/windows-phone"><img src="images/windows-download.png" class="responsive-img download" /></a>
                    </div>
                </div>
                <div class="hide-on-small-only">
                    <div class="col m4 l4">
                        <a target="_blank" class="center" href="https://play.google.com/store?hl=pt_BR"><img src="images/android-download.png" class="responsive-img download" /></a>
                    </div>
                    <div class="col m4 l4">
                        <a target="_blank" href="https://itunes.apple.com/br/genre/ios/id36?mt=8"><img src="images/apple-download.png" class="responsive-img download" /></a>
                    </div>
                    <div class="col m4 l4">
                        <a target="_blank" href="https://www.microsoft.com/pt-br/store/apps/windows-phone"><img src="images/windows-download.png" class="responsive-img download" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section grey lighten-5">
        <div class="row center">
            <div class="container">
                <div class="col s12 col m12 col l12">
                    <div class="col s12 m12 l12">
                        <h3 class="center-align" style="color:#606060;">SOBRE NÓS</h3>
                    </div>
                    <div class="col s12 m12 l12">
                        <p class="black-text flow-text center-align" style="font-size:17px;">
                            A Rotus Security é um controle de acesso eficiente e seguro, feito para empresas e escolas o Rotus Security é muito eficiente e seguro. O usuário, para acessar o local, terá que se cadastrar e assim todos os dias irá receber um código QR diferente, e
                            com o código a pessoa irá passar no leitor com o celular, como o código fica no celular acaba tornando o aplicativo muito eficiente e também barato.
                        </p>
                        <p class="black-text flow-text center-align" style="font-size:17px;">
                            A função do software é aumentar a segurança na entrada e saída de pessoas, sejam elas alunos, funcionários, empresários, etc. Além da segurança, esse sistema irá fornecer facilidade ao seu usuário, que ao invés de carregar crachá, irão utilizar seu celular
                            como modo de entrada e saída de pessoas. E que esse fluxo precise ser controlado e registrado.
                        </p>
                        <p class="black-text flow-text center-align" style="font-size:17px;"> O software baseia-se na segurança e facilidade do QR Code. Ele é constituído de uma série de códigos e caracteres decodificados em uma imagem quadrada, dispondo uma alta capacidade para armazenar dados.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-bg">
        <div class="parallax-container">
            <div class="row container center">
            </div>
        </div>
    </div>
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large" id="pagTop" style="background-color:#c62828;">
            <i class="large material-icons">expand_less</i>
        </a>
    </div>
    <footer class="page-footer grey darken-4">">
        <div class="row">
            <div class="rodape">
                <ul>
                    <li><a href="../index.php">INÍCIO</a></li>
                    <li><a href="../contato.php">CONTATO</a></li>
                    <li><a href="../sobre.php">SOBRE NÓS</a></li>
                    <li><a href="../servicos.php">SERVIÇOS</a></li>
                    <li><a href="../termos.php">TERMOS DE SERVIÇO</a></li>
                    <li><a href="../politica.php">POLÍTICA DE PRIVACIDADE</a></li>
                </ul>>
            </div>
        </div>
        <div class="footer-copyright grey darken-4">
            <div class="col s12">
                <div class="container">
                    <ul class="center-align row">
                        <center>
                            <li class="ct col s12 m5 l4">
                                <i class="material-icons yellow-text text-darken-2">mail</i>
                                <br>
                                <small class="footer-text" style="font-size: 13px;font-weight: 0 !important;">CONTATO@ROTUSSECURITY.COM.BR</small>
                            </li>
                            <li class="col s12 m3 l4">
                                <i class="material-icons blue-text">phone</i>
                                <br>
                                <small class="footer-text" style="font-size: 13px;font-weight: 0 !important;">(11) 95855-8922 OU (11) 94298-4404</small>
                            </li>
                            <li class="col s12 m4 l4">
                                <i class="material-icons red-text">location_on</i>
                                <br>
                                <small style="font-size: 13px;font-weight: 0 !important;">R. JAÍRO DE ALMEIDA MACHADO, 401 - JARAGUÁ, SÃO PAULO - SP, 02998-060</small>
                            </li>
                        </center>
                    </ul>
                </div>
                <center>
                    <a href="https://twitter.com/RotusSecurity" target="_blank"><img src="../images/redes-sociais/Twitter.png" class="responsive-img" width="75"></a>
                    <a href="https://www.facebook.com/ControledeAcessoRotus/" target="_blank"><img src="../images/redes-sociais/Facebook.png" class="responsive-img" width="75"></a>
                    <a href="https://www.youtube.com/channel/UCfLNX5F4RL9eHEn-XDYOQGw" target="_blank"><img src="../images/redes-sociais/Youtube.png" class="responsive-img" width="75"></a>
                    <a href="https://www.instagram.com/rotus_security/?hl=pt-br" target="_blank"><img src="../images/redes-sociais/Instagram.png" class="responsive-img" width="75"></a>
                </center>

            </div>
            <div class="center-align">
                © 2017 Todos direitos reservados a Rotus Security
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
<!-- BEGIN:sobre -->