<!-- BEGIN:termos -->
<!DOCTYPE html>
<html>

<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="css/index.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/global.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/footer.css" media="screen,projection" />
    <title>Rotus Security</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    {navbar}
    <div class="parallax-bg">
        <div class="parallax-container">
            <div class="row container center">
                <img src="images/logo.png" class="responsive-img logo-main" width="220">
                <div class="col s12">
                    <p class="white-text">Bem-vindo ao Rotus Security! O aplicativo consiste em um controle de acesso para alunos de escolas, faculdades, empresas e etc... Com o aplicativo você irá conseguir gerar um código QR no seu celular. Após a criação, você irá passar
                        no leitor de código QR da catraca e assim a passagem será liberada. Com esse controle o local estará mais seguro e assim evitará a entrada de pessoas indesejáveis no estabelecimento.</p>
                </div>
                <div class="hide-on-med-and-up">
                    <div class="col s8 m4 offset-s2" style="margin-top: 5px">
                        <a target="_blank" class="center" href="https://play.google.com/store?hl=pt_BR"><img src="images/android-download.png" class="responsive-img download" /></a>
                    </div>
                    <div class="col s8 m4 offset-s2" style="margin-top: 5px">
                        <a target="_blank" href="https://itunes.apple.com/br/genre/ios/id36?mt=8"><img src="images/apple-download.png" class="responsive-img download" /></a>
                    </div>
                    <div class="col s8 m4 offset-s2" style="margin-top: 5px">
                        <a target="_blank" href="https://www.microsoft.com/pt-br/store/apps/windows-phone"><img src="images/windows-download.png" class="responsive-img download" /></a>
                    </div>
                </div>
                <div class="hide-on-small-only">
                    <div class="col m4 l4">
                        <a target="_blank" class="center" href="https://play.google.com/store?hl=pt_BR"><img src="images/android-download.png" class="responsive-img download" /></a>
                    </div>
                    <div class="col m4 l4">
                        <a target="_blank" href="https://itunes.apple.com/br/genre/ios/id36?mt=8"><img src="images/apple-download.png" class="responsive-img download" /></a>
                    </div>
                    <div class="col m4 l4">
                        <a target="_blank" href="https://www.microsoft.com/pt-br/store/apps/windows-phone"><img src="images/windows-download.png" class="responsive-img download" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section grey lighten-5">
        <div class="row center">
            <div class="container">
                <div class="col s12 m12 l12">
                    <div class="col s12 m12 l12">
                        <h3 class="center-align" style="color:#606060;">TERMOS DE SERVIÇO</h3>
                    </div>
                    <div class="col s12 m12 l12">
                        <p class="black-text flow-text center-align" style="font-size:17px;">
                            <b>Bem-vindo ao Rotus Security!</b><br>Agradecemos por usar nossos produtos e serviços (“Serviços”). Os Serviços serão fornecidos pela Rotus Security (“Rotus”), localizado em 1600 Rua Jaíro de Alemida Machado, 401 - Jaraguá,
                            São Paulo - SP, 02998-060. Ao usar nossos Serviços, você está concordando com estes termos. Leia-os com atenção. Nossos Serviços são muito diversos, portanto, às vezes, podem aplicar-se termos adicionais ou exigências de produtos
                            (inclusive exigências de idade). Os termos adicionais estarão disponíveis com os Serviços relevantes e esses termos adicionais se tornarão parte de nosso contrato com você, caso você use esses Serviços.
                        </p>
                        <p class="black-text flow-text center-align" style="font-size:17px;">
                            <b>Como usar nossos Serviços</b><br>É preciso que você siga as políticas disponibilizadas a você dentro dos Serviços. Não faça uso indevido de nossos Serviços. Por exemplo, não interfira com nossos Serviços nem tente acessá-los
                            por um método diferente da interface e das instruções que fornecemos. Você pode usar nossos serviços somente conforme permitido por lei, inclusive leis e regulamentos de controle de exportação e reexportação. Podemos suspender
                            ou deixar de fornecer nossos Serviços se você descumprir nossos termos ou políticas ou se estivermos investigando casos de suspeita de má conduta. O uso de nossos Serviços não lhe confere a propriedade sobre direitos de propriedade
                            intelectual sobre os nossos Serviços ou sobre o conteúdo que você acessar. Você não pode usar conteúdos de nossos Serviços a menos que obtenha permissão do proprietário de tais conteúdos ou que o faça por algum meio permitido
                            por lei. Estes termos não conferem a você o direito de usar quaisquer marcas ou logotipos utilizados em nossos Serviços. Não remova, oculte ou altere quaisquer avisos legais exibidos em ou junto a nossos Serviços. Nossos Serviços
                            exibem alguns conteúdos que não são da Rotus Security. Esses conteúdos são de exclusiva responsabilidade da entidade que os disponibiliza. Podemos revisar conteúdo para determinar se é ilegal ou se infringe nossas políticas,
                            e podemos remover ou nos recusar a exibir conteúdos que razoavelmente acreditamos violar nossas políticas ou a lei. Mas isso não significa, necessariamente, que revisaremos conteúdos, portanto por favor, não presuma que o faremos.
                            Em relação com seu uso dos Serviços, podemos enviar-lhe anúncios de serviços, mensagens administrativas e outras informações. Você pode desativar algumas dessas comunicações. Alguns dos nossos Serviços estão disponíveis em
                            dispositivos móveis. O usuário não deve utilizar tais Serviços de forma que o distraia ou o impeça de cumprir leis de trânsito ou de segurança.
                        </p>
                        <p class="black-text flow-text center-align" style="font-size:17px;">
                            <b>Sua Conta na Rotus</b><br>Você poderá criar sua própria Conta na Rotus sua Conta na Rotus. Para proteger sua Conta, o usuário deve manter a senha em sigilo. A atividade realizada na Conta ou por seu intermédio é de responsabilidade
                            do usuário. Não recomendamos que a senha da Conta seja reutilizada em aplicativos de terceiros. Caso tome conhecimento de uso não autorizado da sua senha ou Conta, o usuário deve seguir os passos de recuperação no site rotussecurity.com.br.
                        </p>
                        <p class="black-text flow-text center-align" style="font-size:17px;">
                            <b>Seu Conteúdo em nossos Serviços</b><br>Alguns de nossos Serviços permitem que você faça upload, submeta, armazene, envie ou receba conteúdo. Você mantém a propriedade de quaisquer direitos de propriedade intelectual que
                            você detenha sobre aquele conteúdo. Em resumo, aquilo que pertence a você, permanece com você. Quando você faz upload, submete, armazena, envia ou recebe conteúdo a nossos Serviços ou por meio deles, você concede a Rotus (e
                            àqueles com quem trabalhamos) uma licença mundial para usar, hospedar, armazenar, reproduzir, modificar, criar obras derivadas (como aquelas resultantes de traduções, adaptações ou outras alterações que fazemos para que seu
                            conteúdo funcione melhor com nossos Serviços), comunicar, publicar, executar e exibir publicamente e distribuir tal conteúdo. Os direitos que você concede nesta licença são para os fins restritos de operação, promoção e melhoria
                            de nossos Serviços e de desenvolver novos Serviços.
                        </p>
                        <p class="black-text flow-text center-align" style="font-size:17px;">
                            <b>Nossas Garantias e Isenções de Responsabilidade</b><br>Fornecemos nossos Serviços usando um nível comercialmente razoável de capacidade e cuidado e esperamos que você aproveite seu uso deles. Mas existem algumas coisas que
                            não prometemos sobre nossos Serviços. EXCETO QUANDO EXPRESSAMENTE PREVISTO NESTES TERMOS OU EM TERMOS ADICIONAIS, NEM A ROTUS, NEM SEUS FORNECEDORES OU DISTRIBUIDORES OFERECEM QUAISQUER GARANTIAS SOBRE OS SERVIÇOS. POR EXEMPLO,
                            NÃO NOS RESPONSABILIZAMOS PELOS CONTEÚDOS NOS SERVIÇOS, POR FUNCIONALIDADES ESPECÍFICAS DO SERVIÇO, OU PELA CONFIABILIDADE, DISPONIBILIDADE OU CAPACIDADE DE ATENDER SUAS NECESSIDADES. FORNECEMOS OS SERVIÇOS “NA FORMA EM QUE
                            ESTÃO”. CERTAS JURISDIÇÕES PREVÊEM DETERMINADAS GARANTIAS, COMO A GARANTIA DE COMERCIABILIDADE IMPLÍCITA, ADEQUAÇÃO A UMA FINALIDADE ESPECÍFICA E NÃO VIOLAÇÃO. NA MEDIDA PERMITIDA POR LEI, EXCLUÍMOS TODAS AS GARANTIAS.
                        </p>
                        <p class="black-text flow-text center-align" style="font-size:17px;">
                            <b>Responsabilidade pelos nossos Serviços</b><br>QUANDO PERMITIDO POR LEIA ROTUS E OS FORNECEDORES OU DISTRIBUIDORES DA ROTUS NÃO SERÃO RESPONSÁVEIS POR PERDA DE LUCROS, PERDA DE RECEITA, PERDA DE DADOS, PERDAS FINANCEIRAS
                            OU DANOS INDIRETOS, ESPECIAIS, CONSEQUENCIAIS, EXEMPLARES OU PUNITIVOS. NA MEDIDA PERMITIDA POR LEI, A RESPONSABILIDADE TOTAL DA ROTUS E DE SEUS FORNECEDORES E DISTRIBUIDORES, PARA QUALQUER RECLAMAÇÃO SOB ESTES TERMOS, INCLUINDO
                            QUAISQUER GARANTIAS IMPLÍCITAS, LIMITA-SE AO VALOR QUE VOCÊ PAGOU A ROTUS PARA USAR OS SERVIÇOS (OU, A NOSSO CRITÉRIO, PARA FORNECER A VOCÊ OS SERVIÇOS NOVAMENTE). EM TODOS OS CASOS, A ROTUS E SEUS FORNECEDORES E DISTRIBUIDORES
                            NÃO SERÃO RESPONSÁVEIS POR QUALQUER PERDA OU DANO QUE NÃO SEJA RAZOAVELMENTE PREVISÍVEL.
                        </p>
                        <p class="black-text flow-text center-align" style="font-size:17px;">
                            <b>Usos comerciais de nossos Serviços</b><br> Se você estiver usando nossos Serviços em nome de uma empresa, tal empresa aceita estes termos. Ela isentará de responsabilidade e indenizará a Rotus e suas afiliadas, executivos,
                            agentes e trabalhadores de qualquer reivindicação, processo ou ação judicial proveniente de ou relacionado ao uso dos Serviços ou à violação destes termos, incluindo qualquer responsabilidade ou despesa resultante de reivindicações,
                            perdas, danos, processos, julgamentos, custos de litígio e honorários advocatícios.
                        </p>
                        <p class="black-text flow-text center-align" style="font-size:17px;">
                            <b>Sobre estes Termos</b><br>Podemos modificar estes termos ou quaisquer termos adicionais que sejam aplicáveis a um Serviço para, por exemplo, refletir alterações da lei ou mudanças em nossos Serviços. Você deve consultar
                            os termos regularmente. Postaremos avisos sobre modificações nesses termos nesta página. Publicaremos um aviso de alteração sobre os termos adicionais dentro do Serviço aplicável. As alterações não serão aplicadas retroativamente
                            e entrarão em vigor pelo menos quatorze dias após sua publicação. Entretanto, alterações a respeito de novas funcionalidades de um Serviço ou alterações feitas por razões legais entrarão em vigor imediatamente. Se você não
                            concordar com os termos alterados de um Serviço, deve descontinuar o uso desse Serviço. Em caso de conflito entre estes termos e os termos adicionais, os termos adicionais prevalecerão com relação a esse conflito. Estes termos
                            regem a relação entre a Rotus e você. Eles não criam quaisquer direitos para terceiros. Caso você não cumpra estes termos e nós não tomemos providências imediatas, isso não significa que estamos renunciando a quaisquer direitos
                            que possamos ter (como tomar providências futuras). Caso uma condição específica destes termos não seja executável, isso não prejudicará quaisquer outros termos. As leis de São Paulo,Brasil, excluindo as normas de São Paulo
                            sobre conflitos de leis, serão aplicáveis a quaisquer disputas decorrentes de ou relacionadas com estes termos ou Serviços. Todas as reclamações decorrentes de ou relacionadas com estes termos ou Serviços serão litigadas exclusivamente
                            em tribunais estaduais, e você e o Google autorizam a jurisdição pessoal nesses tribunais. Para obter informações sobre como entrar em contato com a Rotus, por favor visite nossa <a href="contato.php" target="_blank">página de contato</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-bg">
        <div class="parallax-container">
            <div class="row container center">
            </div>
        </div>
    </div>
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large" id="pagTop" style="background-color:#c62828;">
            <i class="large material-icons">expand_less</i>
        </a>
    </div>
    <footer class="page-footer grey darken-4">">
        <div class="row">
            <div class="rodape">
                <ul>
                    <li><a href="../index.php">INÍCIO</a></li>
                    <li><a href="../contato.php">CONTATO</a></li>
                    <li><a href="../sobre.php">SOBRE NÓS</a></li>
                    <li><a href="../servicos.php">SERVIÇOS</a></li>
                    <li><a href="../termos.php">TERMOS DE SERVIÇO</a></li>
                    <li><a href="../politica.php">POLÍTICA DE PRIVACIDADE</a></li>
                </ul>>
            </div>
        </div>
        <div class="footer-copyright grey darken-4">
            <div class="col s12">
                <div class="container">
                    <ul class="center-align row">
                        <center>
                            <li class="ct col s12 m5 l4">
                                <i class="material-icons yellow-text text-darken-2">mail</i>
                                <br>
                                <small class="footer-text" style="font-size: 13px;font-weight: 0 !important;">CONTATO@ROTUSSECURITY.COM.BR</small>
                            </li>
                            <li class="col s12 m3 l4">
                                <i class="material-icons blue-text">phone</i>
                                <br>
                                <small class="footer-text" style="font-size: 13px;font-weight: 0 !important;">(11) 95855-8922 OU (11) 94298-4404</small>
                            </li>
                            <li class="col s12 m4 l4">
                                <i class="material-icons red-text">location_on</i>
                                <br>
                                <small style="font-size: 13px;font-weight: 0 !important;">R. JAÍRO DE ALMEIDA MACHADO, 401 - JARAGUÁ, SÃO PAULO - SP, 02998-060</small>
                            </li>
                        </center>
                    </ul>
                </div>
                <center>
                    <a href="https://twitter.com/RotusSecurity" target="_blank"><img src="../images/redes-sociais/Twitter.png" class="responsive-img" width="75"></a>
                    <a href="https://www.facebook.com/ControledeAcessoRotus/" target="_blank"><img src="../images/redes-sociais/Facebook.png" class="responsive-img" width="75"></a>
                    <a href="https://www.youtube.com/channel/UCfLNX5F4RL9eHEn-XDYOQGw" target="_blank"><img src="../images/redes-sociais/Youtube.png" class="responsive-img" width="75"></a>
                    <a href="https://www.instagram.com/rotus_security/?hl=pt-br" target="_blank"><img src="../images/redes-sociais/Instagram.png" class="responsive-img" width="75"></a>
                </center>

            </div>
            <div class="center-align">
                © 2017 Todos direitos reservados a Rotus Security
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
<!-- BEGIN:termos -->