          ::-webkit-input-placeholder {
             /* WebKit, Blink, Edge */
             color: #afafaf;
         }
         
          :-moz-placeholder {
             /* Mozilla Firefox 4 to 18 */
             color: #afafaf;
             opacity: 1;
         }
         
          ::-moz-placeholder {
             /* Mozilla Firefox 19+ */
             color: #afafaf;
             opacity: 1;
         }
         
          :-ms-input-placeholder {
             /* Internet Explorer 10-11 */
             color: #afafaf;
         }
         
         .backdrop {
             background-color: #d64a3e;
         }
         
         .tabs .tab a {
             color: rgba(198, 40, 40, 0.7);
         }
         
         .tabs .tab a:hover,
         .tabs .tab a.active {
             color: #c62828;
         }